<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<app-header></app-header>
<div class="productlist--container">
  <div class="page-container">
    <!--Paginator-->
    <mat-paginator class="page"
      [length]="(sellerProducts$ | async)?.length"
      [pageSize]="21"
      [pageSizeOptions]="[7, 14, 21]"
      aria-label="Select page"
      #paginator>
    </mat-paginator>
  </div>
  <!--Products thumnail area-->
  <p *ngIf="(sellerProducts$ | async)?.length == 0">You have no products!</p>
  <ng-container *ngIf="(sellerProducts$ | async) as sellerProducts">
    <ng-container *ngFor="let product of sellerProducts.slice((paginator.pageIndex * paginator.pageSize), (paginator.pageIndex + 1) * paginator.pageSize)">
      <app-product  
        [product]="product" 
        (click)="openProductDetail(product)"
      >
      </app-product>
    </ng-container>
  </ng-container>
</div>
<app-footer></app-footer>

