<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<app-header></app-header>
<div class="productlist--container">
  <div class="page-container">
    <div *ngIf="(sellerProducts$ | async)?.length > 0">
       <app-search (searchTextChanged)="setSearchText($event)"></app-search>
       <app-filter
        [all]="totalNumberOfProducts"
        [under100]="totalProductUnder100" 
        [under200]="totalProductUnder200"
        [under300]="totalProductUnder300"
        [under400]="totalProductUnder400"
        [above400]="totalProductAbove400"
        (selectedFilterRadioButtonChanged)="onFilterChanged($event)">
      </app-filter>
    </div>
    <p *ngIf="(sellerProducts$ | async)?.length == 0">You have no products!</p>
  </div>
  <ng-container *ngIf="(sellerProducts$ | async) as sellerProducts">
    <ng-container *ngFor="let product of sellerProducts">
      <app-product  
        [product]="product" 
        [searchText] = "searchText"
        [selectedFilterRadioButton] = "selectedFilterRadioButton"
        (click)="openProductDetail(product)"
      >
      </app-product>
    </ng-container>
  </ng-container>
</div>
<app-footer></app-footer>