<header class="site-header">
  <!-- TITLE -->
  <div class="site-identity">
    <h1><a class="buy01" routerLink="../home">Buy-01</a></h1>
  </div> 
  
  <!-- NAVIGATION -->
  <nav class="site-navigation">
    <ul class="nav">
      <li *ngIf="role === 'SELLER'" role="button" (click)="openCreateProduct()"><a>+ Create Product</a></li>
      <li *ngIf="role === 'SELLER'"><a id="exception-line">|</a></li>
      <li><a routerLink="../home" [ngClass]="{ 'selected': currentRoute === '/home' }">Home</a></li>
      <li *ngIf="role === 'SELLER'"><a routerLink="../product-dashboard" [ngClass]="{ 'selected': currentRoute === '/product-dashboard' }">My Products</a></li>
      <li><a routerLink="../user-dashboard" [ngClass]="{ 'selected': currentRoute === '/user-dashboard' }">Profile</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</header>

 