a {
  font-family: Poppins, sans-serif;
  font-weight: 200; 
  font-size: 20px;
  text-decoration: none;
  color: #e0e1dd;
  cursor: pointer;
  transition: color 0.3s; /* Added transition for smooth color change */
}

a:hover {
  color: #ffffff;
}

.selected {
  border: 1px solid #ffffff;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 400;
}

.site-header {
  min-height: 30px;
  background-color: #778da9;
  border-bottom: 1px solid #778da9;
  padding: 1.5em 1em;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
}

.button-79{
  margin: 0.6em 0;
  margin-left: 120px !important;
  display: inline-block;
  font-weight: 500;
  background-color: maroon;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
  border: 1px solid maroon;
  transition: all 0.3s;
  cursor: pointer;
}

.buy01 {
  font-size: 26px;
  margin: 0.6em 0;
  margin-left: 120px !important;
  display: inline-block;
  font-weight: 500;
}

.site-navigation ul{
  margin-right: 120px !important;
}

.site-navigation li {
  display: inline-block;
  padding: 0;
  margin: 1.4em 1em 1em 2em;
}

#exception-line {
  cursor: none;
}

@media screen and (max-width: 768px) {
  .site-header {
    width: 100%;
    overflow-x: scroll;
  }
}

/* Define styles for your dropdown button and menu - Need to fix*/
.dropdown-button {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown-menu {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 100%;
  right: 0;
}

/* Add CSS for the dropdown to be visible on small screens */
@media (max-width: 767px) {
  .site-identity {
    display: none;
  }

  #exception-line {
    display: none;
  }

  .site-header {
    width: 100%;
    overflow-x: scroll;
    min-width: 400px;
  }

}
