.overlay{
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer !important; /* Add a pointer on hover */
}


.product--details--info {
    position: fixed; /* Use fixed instead of absolute for centering */
    z-index: 10;
    background-color: white;
    transition: 1s;
    width: 480px;
    top: 50%; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Centering trick */
    padding: 10px 25px;
    border-radius: 16px;
	box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .title {
    margin: 0;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
  }

.product-detail-close{
    cursor: pointer; 
    color: #28282B;
    font-size: 20px;
    margin: 22px;
}
.product-detail-image{
    width: 100%;
    height: 320px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.product-detail{
    padding: 10px 0px;
}

.product-detail-name, .product-detail-price, .product-detail-desc-heading{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px; 
}
  
.product-button {
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    gap: 10px; 
  }

  .upload-cancel-container {
    display: flex; /* Display its children in a row */
    align-items: center; /* Center children vertically */
    gap: 10px; /* Add some space between children */
  }
  

  .image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px; /* Adjust the margin as needed */
  }
  
  .image-preview-container  img{
    max-width: 100%;
    max-height: 300px; /* Adjust the maximum height as needed */
    margin-bottom: 10px; /* Add margin below the image */
  }
  .editImages-button, .addImages-button
  .confirm-button {
    margin: 0; 
  }
  

  .product-value {
    flex-grow: 3;
  }


span{
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 5px;
}


.product-detail-desc{
    margin-top: 10px;
    font-size: 14px;
}

.product-detail-edit{
    margin: 20px 0px;
}
.btn-edit-product-detail{
    border: none;
    background-color: #28282B;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
}

body {
  margin: 32px;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

    
  .slider-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;

  }
  

.delete-button {
    margin-top: 30px;
    background-color: #d13535;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    background: red;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

.editImages-button, .addImages-button, .cancel-button, .upload-button, .save-button{
    justify-content: space-between !important;
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 5px 10px;
    border: none; 
    border-radius: 5px; 
    margin-top: 20px;
    width: 150px;
}

.upload-button, .save-button {
    background-color: grey !important;
    color: white;
  }
  
  .cancel-button {
    background-color: #FF0000 !important;
    color: white;
  }


.delete-button .text {
    color: white;
    font-size: 14px;
}

.delete-button:hover {
    background: #ff3636;
}

.edit-button {
    background-color: transparent;
    border: none;
    margin-left: 20px;
  }

  .confirm-button {
    height: 100%;
    margin-left: 10px;
    border: none;
    background-color: transparent;
  }

.scroll {
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
    width:5px;
}
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius:5px;
    -webkit-box-shadow: inset 0 0 6px #28282B; 
}

.field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-left: -3px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}

.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-image {
    max-width: 100%;
    max-height: 300px;
  }
  
  .remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: grey;
    border-radius: 50%;
    padding: 3px;
  }
  