.product--details--info {
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  margin: 0;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}
.create-product-close {
  cursor: pointer;
  color: #28282B;
  font-size: 20px;
  margin: 22px;
}
  .product-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .image-actions {
    display: flex;
    align-items: center; 
    margin-top: 10px; 
  }
  
  .product-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px !important; 
    object-fit: cover;
    border-radius: 6px;
  }

  .product--details--info {
    position: fixed; /* Use fixed instead of absolute for centering */
    z-index: 10;
    background-color: white;
    transition: 1s;
    width: 480px;
    top: 50%; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Centering trick */
    padding: 10px 20px;
}

.product-detail-image{
  width: 100%;
  height: 320px;
}
.product-detail{
  padding: 10px 0px;
}

.scroll {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width:5px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius:5px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px #28282B; 
}

.preview-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.upload-button {
  /* justify-items: center !important;
  align-items: center !important; 
  justify-content: space-between; */
  justify-content: space-between !important;
 
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 5px 10px;
  border: none; 
  border-radius: 5px; 
  margin-top: 10px;
  width: 150px;
  
}

.upload-button:hover {
  background-color: #016dcb;
}

.create-button {
  height: 50px;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;

}

.form-field {
  position: relative;
  height: 80px;
  width: 100%;
  margin-left: -3px;
  border-radius: 6px;
}

.requirement-info {
  margin-top: 5px;
  font-style: italic;
  font-size: 11px;
  font-weight: 200;
  color: #5F6368;
  text-align: center;
}

.field-requirement-info {
  margin-top: -10px;
  font-style: italic;
  font-size: 11px;
  font-weight: 200;
  color: #5F6368;
  text-align: left;
}

@media (max-width: 767px) {
  .product--details--info {
    width: 100%;
  }
}