<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<mat-card>
  <!--HEADER-->
  <div class="header">
    <span class="role">{{ userInfoRole }}</span>
    <h1 mat-dialog-title class="title">My Order Transactions</h1>
  </div>

  <!--CLIENT-->
  <div *ngIf="userInfoRole== 'CLIENT'">
    <div class="row">
      <div >Order #</div>
      <div >Status</div>
      <div >Action</div>
    </div>
  
    <hr>
   
    <div class="row" *ngFor="let order of allOrders">
      <div class="order-no" (click)="openProductDetail(order)"><a>{{ order.order_id }}</a></div>
      <div class="status">{{ order.status_code }}</div>
      <div class="action">
          <button mat-button color="primary" class="view-button" *ngIf="order.status_code=='CREATED'" (click)="cancelOrder(order.order_id)">Cancel</button>
          <button mat-button color="primary" class="view-button" *ngIf="order.status_code=='CONFIRMED'" (click)="openProductDetail(order)">Redo</button>
          <button mat-button color="primary" class="view-button" *ngIf="order.status_code=='CANCELLED'" (click)="removeOrder(order.order_id)">Remove</button>
      </div>
    </div>
  </div>
  <!--SELLER-->
  <div *ngIf="userInfoRole== 'SELLER'">
    <div class="row">
      <div >Order #</div>
      <div >Status</div>
      <div >Action</div>
    </div>
  
    <hr>
   
    <div class="row">
      <div class="order-no"><a>1234</a></div>
      <div class="status">Created</div>
      <div class="action">
          <button mat-button color="primary" class="view-button">Remove</button>
      </div>
    </div>
  </div>
  
  <!-- Add more rows as needed -->
</mat-card>

