<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<mat-card>
  <!--HEADER-->
  <div class="header">
    <span class="role">{{ role }}</span>
    <h1 mat-dialog-title class="title">My Order Transactions</h1>
  </div>

  <!--CLIENT-->
  <div *ngIf="role === 'CLIENT'">
    <div class="row">
      <div>Order #</div>
      <div>Status</div>
      <div>Action</div>
    </div>
  
    <hr>
   
    <div class="row" *ngFor="let order of allTrans">
      <div class="order-no" (click)="openProductDetail(order)"><a>{{ order.order_id }}</a></div>
      <div class="status">{{ order.status_code }}</div>
      <div class="action">
          <button mat-button color="primary" class="view-button" *ngIf="order.status_code=='CREATED'" (click)="cancelOrder(order.order_id)">Cancel</button>
          <button mat-button color="primary" class="view-button" *ngIf="order.status_code=='CONFIRMED'" (click)="redoOrder(order.order_id)">Redo</button>
          <button mat-button color="primary" class="view-button" *ngIf="order.status_code=='CANCELLED'" (click)="removeOrder(order.order_id)">Remove</button>
      </div>
    </div>
  </div>

  <!--SELLER-->
  <div *ngIf="role === 'SELLER'">
    <div class="row">
      <div>Order Item #</div>
      <div>Product Name</div>
      <div>Status</div>
      <div>Action</div>
    </div>
  
    <hr>
   
    <div class="row" *ngFor="let item of allTrans">
      <div class="order-no" (click)="openProductDetail(item)"><a>{{ item.item_id }}</a></div>
      <div class="product-name">{{ item.name }}</div>
      <div class="status">{{ item.status_code }}</div>
      <div class="action">
        <div *ngIf="item.status_code === 'CREATED'">
          <button mat-button color="primary" class="view-button" (click)="updateOrderItemStatus(item, 'CONFIRMED')">Confirm</button>
          <button mat-button color="primary" class="view-button" (click)="updateOrderItemStatus(item, 'CANCELLED')">Cancel</button>
        </div>
        <div *ngIf="item.status_code !== 'CREATED'"></div>
      </div>
    </div>
  </div>
  
  <!-- Add more rows as needed -->
</mat-card>
