<app-header></app-header>
<div class="productlist--container">
  <div class="page-container">
    <div *ngIf="(allProducts$ | async)?.length > 0">
      <app-search (searchTextChanged)="setSearchText($event)"></app-search>
      <app-filter
        [all]="totalNumberOfProducts"
        [under100]="totalProductUnder100" 
        [under200]="totalProductUnder200"
        [under300]="totalProductUnder300"
        [under400]="totalProductUnder400"
        [above400]="totalProductAbove400"
        (selectedFilterRadioButtonChanged)="onFilterChanged($event)">
      </app-filter>
    </div>
    <p *ngIf="(allProducts$ | async)?.length == 0">There are no products!</p> 
  </div>
  <ng-container *ngIf="(allProducts$ | async) as products">
    <ng-container *ngFor="let product of products">
      <app-product  
        [product]="product" 
        [searchText]="searchText"
        [selectedFilterRadioButton] = "selectedFilterRadioButton"
        (click)="openProductDetail(product)"
      >
      </app-product>
    </ng-container>
  </ng-container>
</div>
<app-footer></app-footer>