<div class="image-slider">
  <button mat-icon-button (click)="previousSlide()" [disabled]="currentIndex === 0">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="image-container">
    <img [src]="currentImage" class="slider-image">
    <a class="remove-image" (click)="removeImage(currentIndex)" style="display: inline;">&#215;</a>
  </div>
  <button mat-icon-button (click)="nextSlide()" [disabled]="currentIndex === images.length - 1">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
