<app-header></app-header>

<div *ngIf="orderConfirmation.items.length === 0" class="empty-product">
    <a class="alert">There are no products in your cart.</a>
    <button class="shopping-btn" routerLink="../home">
      <div class="pretext">Shop Now</div>
    </button>
  </div>

<div *ngIf="orderConfirmation.items.length > 0">
    <h1>Order Summary</h1>
    <div *ngFor="let items of orderConfirmation?.items">
      <div>Name: {{ items.product.name }}</div>
      <div>Quantity: {{ items.quantity }}</div>
      <div>Total: {{ items.price }}</div>
    </div>
    
      <div>Grand Total: {{ orderConfirmation.totalPrice }}</div>
      <button>Confirm My Order</button>
    
</div>

