<div class="filter-container">
  <span>Filter: </span>
  <input
    type="radio"
    name="filter"
    value="all"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="onSelectedFilterRadioButtonChanged()"
  />
  <span>{{ "All (" + all + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="under100"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="onSelectedFilterRadioButtonChanged()"
  />
  <span>{{ "€0-99 (" + under100 + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="under200"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="onSelectedFilterRadioButtonChanged()"
  />
  <span>{{ "€100-199 (" + under200 + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="under300"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="onSelectedFilterRadioButtonChanged()"
  />
  <span>{{ "€200-299 (" + under300 + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="under400"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="onSelectedFilterRadioButtonChanged()"
  />
  <span>{{ "€300-399 (" + under400 + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="above400"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="onSelectedFilterRadioButtonChanged()"
  />
  <span>{{ "€400+ (" + above400 + ")" }}</span>
</div>
