.filter-container {
  margin: 10px 10px 0px 0px;
  padding: 20px 10px 0px 20px;
  display: flex;
  justify-content: left;
  max-width: 100%;

}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .filter-container {
    overflow-x: scroll;
  }
}

