mat-card {
  margin: 0 auto;
  margin-top: 5%;
  box-shadow: 0 4px 6px #778da9;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  border: 1px solid #778da9;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
  min-width: 350px;
  justify-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.role {
  color: #231E39;
	background-color: #FEBB0B;
	border-radius: 5px;
	font-size: 14px;

	padding: 6px 10px;
	position: absolute;
	top: 40px;
	left: 40px;
}

.title {
  margin: 0;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.edit-profile-close{
  cursor: pointer; 
  color: #28282B;
  font-size: 20px;
  margin: 22px;
}



img {
  max-width: 100%;
  max-height: 200px; 
  display: block;
  margin-top: 10px;
}


.field-form-button {
  margin-top: -30px !important;
}


.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-field {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px; 
}

.profile-label {
  flex-grow: 1; 
  margin-right: 5px; 
}

.profile-button {
  flex-shrink: 0; 
}

.profile-value {
  flex-grow: 3;
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -10px;
}

.profile-image img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-bottom: 10px; 
  border: 3px solid darkgrey;
}
.profile-image input[type="file"] {
  display: none;
}

.profile-image button {
  margin-top: 10px; 
}

.edit-button {
  background-color: transparent;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}


*, *:after, *:before {
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	background-color: #f1f3fb;
	padding: 0 2rem;
}

img {
	max-width: 100%;
	display: block;
}


input {
	appearance: none;
	border-radius: 0;

}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.card-form {
	padding: 2rem 1rem 0 !important;
}


.input {
	display: flex;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-top: 1.5rem;
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: .25rem 0;
}

.input-field:focus, .input-field:valid {
  outline: 0;
}

.input-field + .input-label {
  color: #5F6368;
  transform: translateY(-1.5rem);
}

/* Specific styles for div */
.input-field:not([type="text"]) {
  cursor: not-allowed;
}

.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
  cursor: pointer;
	background-color: #e62222;
	border-radius: 6px;
	color: #FFF;
	border: 0;
}

.action-button:hover {
  background: #ff3636;
}

/* CSS */
.button-80 {
  height: 100%;
  margin-left: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-80:not(:disabled):hover {
  transform: scale(1.3);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

@media (max-width: 767px) {
  .mat-card {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: center;
  }
}