<section class="container forms">
    <div class="form login">
      <div class="form-content">
        <header>Register</header>
        <!--Form-->
        <form class="register-form" [formGroup]="registerform" (ngSubmit)="register()" (keydown)="onKeydown($event)" >
          <!--Avatar Preview Container-->
          <div class="profile-picture">
            <div id="preview" *ngIf="previewUrl" class="avatar-container">
              <img [src]="previewUrl" alt="Image Preview" class="round">
            </div>
            <div *ngIf="!previewUrl">
              <img [src]="previewUrl ? previewUrl : imgPlaceholder" alt="Default Avatar" class="round">
            </div>
          </div>
          <div class="requirement-info" >
            File types: JPG, PNG, GIF.
            Max file size: 2MB.
          </div>
          <!--Upload Avatar Button-->
          <div class="buttons">
            <label for="image"class="upload-button" *ngIf="!previewUrl" >Upload Avatar</label>
            <input type="file" id="image" name="image" accept="image/*" (change)="onFileSelected($event)" style="display: none;" #fileInput>
            <button class="cancel-button" (click)="cancelUploadImage()" *ngIf="previewUrl">Cancel</button>
          </div>

          <!--Name Field-->
          <div class="field-requirement-info">
            * Min: 1 / Max: 50 characters.
          </div>
          <div class="field input-field">
            <input placeholder="Name" class="input" formControlName="name" #nameInput required>
          </div>
          <!--Email Field-->
          <div class="field-requirement-info">
            * Valid email required. 
          </div>
          <div class="field input-field">
              <input type="email" placeholder="Email" class="input" formControlName="email" required>
          </div>
          <!--Password Field-->
          <div class="field-requirement-info">
            * 6-50 chars with 1 uppercase, 1 lowercase, 1 digit, and 1 special character (@$!%*?&). 
          </div>
          <div class="field input-field">
              <input type="password" placeholder="Create password" class="password" formControlName="password" required>
          </div>
          <!--Role Option-->
          <div class="field-requirement-info">
            * Select a role.
          </div>
          <div class="field input-field">
            <mat-select placeholder="Choose a role" class="roles" formControlName="role" required>
              <mat-option class="options" value="Client">Client</mat-option>
              <mat-option class="options" value="Seller">Seller</mat-option>
            </mat-select>
          </div>
          <!--Register Button-->
          <div class="field button-field">
              <button type="submit" (keyup.enter)="register()" [disabled]="isRegistering">Register</button>
          </div>
        </form>
        <!--Form End-->
        <div class="form-link">
            <span>Already have an account? <a routerLink='/login' class="link login-link">Login</a></span>
        </div>
      </div>
    </div>
</section>
