<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<app-header></app-header>

<section class="shoppingcart-container">
    <!-- IF THERE IS NO PRODUCTS -->
    <!-- <div *ngIf="products.length === 0" class="empty-product">
        <h1>There are no products in your cart.</h1>
        <button routerLink="../home">Shopping now</button>
      </div> -->
      <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
              {{cartItem.product.name}}
            </div>
            <select #quantitySelect (change)="changeQuantity(cartItem, quantitySelect.value)">
              <option>1</option> <option>1</option> 
              <option>2</option> 
              <option>3</option> 
              <option>4</option> 

              <!-- loop here to max quantity -->
            </select>
            <div>
              {{cartItem.price | currency}}
            </div>

        </li>
      </ul>
    
</section>

  <!-- Product List -->
  <!-- <section class="container"> -->
    <!-- <div ngIf="products.length !== 0">
      <ul class="products">
      <li class="row" v-for="(product, index) in products">
        <div class="col left">
          <div class="thumbnail">
            <a href="#">
             i
            </a>
          </div>
          <div class="detail">
            <div class="name"><a href="#"></a></div>
            <div class="description"></div>
            <div class="price"></div>
          </div>
        </div>

        <div class="col right">
          <div class="quantity">
            <input type="number" class="quantity" />
          </div>
          
          <div class="remove">
           i
          </div>
        </div>
      </li>
    </ul>
    </div> -->

  <!-- </section> -->
  <!-- End Product List -->
  
  <!-- Summary -->
  <!-- <section class="container" v-if="products.length > 0">
    <div class="promotion">
      <label for="promo-code">Have A Promo Code?</label>
      <input type="text" id="promo-code" /> <button type="button"></button>
    </div>

    <div class="summary">
      <ul>
        <li>Subtotal</li>
        <li v-if="discount > 0">Discount</li>
        <li class="total">Total</li>
      </ul>
    </div>

    <div class="checkout">
      <button type="button">Check Out</button>
    </div>
  </section> -->
  <!-- End Summary -->